/* LAYOUT.HTML */
.header {
  padding: 10px;
  text-align: center;
  background: #FFA500;
  color: white;
}

/* Increase the font size of the <h1> element */
h1 {
  font-size: 40px;
  text-align: center;
}

ul {
  list-style-type: none;
  font-size: 18px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: center;
}

li  {
  display: inline-block;
  padding: 10px 16px;
}

li a {
  color: white;
  padding: 20px 30px;
}

a:link {
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* INDEX.HTML*/

/** {*/
/*  box-sizing: border-box;*/
/*}*/

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px;
}


/*.left {*/
/*  flex: 80%;*/
/*  background-color: #e6e6e6;*/
/*  padding: 20px;*/
/*}*/


/*.right {*/
/*  flex: 20%;*/
/*  background-color: #f2f2f2;*/
/*  padding: 20px;*/
/*}*/

.main {
  background-color: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 320px;
  margin: 10px;
}
.card:hover > #categorie{
  background-color: #FFA500;
}


.col {
  box-shadow: 0 4px 8px 0;
  /* rgba(0,0,0,0.2);*/
  /*transition: 0.3s;*/
  margin: 10px;
  padding-top: 10px;
}

select {
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	width: 200px;
	height: 40px;
	margin: 0;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	background-color: #fff;
}


/*input[type=text], select, textarea {*/
  /* width: 100%; /* Full width
  padding: 12px; /* Some padding
  border: 1px solid #ccc; /* Gray border
  border-radius: 4px; /* Rounded borders
  box-sizing: border-box; /* Make sure that padding and width stays in place
  margin-top: 6px; /* Add a top margin
  margin-bottom: 20px; /* Bottom margin
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally)
/*}*/

/*input[type=submit] {*/
/*  background-color: #4CAF50;*/
/*  color: white;*/
/*  padding: 12px 20px;*/
/*  border: none;*/
/*  border-radius: 4px;*/
/*  cursor: pointer;*/
/*}*/

/*input[type=submit]:hover {*/
/*  background-color: #45a049;*/
/*}*/

.row {
  display: flex;
  justify-content: center;
  background-color: white;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  height: 100%;
}


/* Responsive layout - when the screen is less than ..px wide,
make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .photos {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .photos {
    flex: 100%;
    max-width: 100%;
  }
}


/* QUIZ.HTML*/
.container_quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
  /*width: 100%;*/
}

/*#h2 {*/
/*  font-size: 4.2rem;*/
/*  margin-bottom: 4rem;*/
/*  font-weight: 700;*/

/*}*/

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(63, 81, 181, 0.7);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #56a5eb;
  color: white;
  margin: 0;
}

.choice-text {
  padding: 1.5rem;
  margin: 0;
  width: 100%;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

/* HUD */
#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
  color: blue;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #56a5eb;
  margin-bottom: 1.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #56a5eb;
  width: 0%;
}

/* GAME_OVER.HTML*/

.container_end {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
  /*width: 100%;*/
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #56a5eb;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #56a5eb;
  background-color: white;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

/* FORMS */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
  color: #aaa;
}

#finalScore {
  font-size: 5.4rem;
  color: #56a5eb;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*#finalScore > span {*/
/*  font-size: 2.4rem;*/
/*  font-weight: 500;*/
/*}*/

