{% extends "layout.html" %}

{% block title %}
    About us
{% endblock %}

{% block main %}
    <br>
    <div class="container" style="width:100%">
    <h1>Lorem Ipsum</h1>
    <i>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</i><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu finibus neque. Sed vel ex porta, auctor nibh id, lobortis ex. Maecenas finibus sollicitudin tincidunt. Proin eget augue enim. Fusce in libero fermentum, tincidunt eros nec, imperdiet elit. Suspendisse in lorem pharetra, ullamcorper libero dignissim, fermentum urna. Proin lacinia quis elit quis vehicula. Praesent ullamcorper mi vitae maximus porttitor. Nullam id aliquam leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris condimentum id magna eu dapibus.</p>
    </div>
    <div class="row">
                    <div class="col">
                        <img src="/static/images/Joris.png" alt="Joris" style="width:100%">
                        <div>
                            <h4><b>Joris</b></h4>
                            <a>Integer auctor non turpis vel accumsan. Mauris viverra sapien fermentum enim placerat, et porttitor augue convallis. Maecenas a dolor egestas neque pulvinar cursus quis a ex. Duis laoreet sagittis lectus, porttitor rhoncus ex imperdiet imperdiet. Aenean lobortis, dui a dignissim finibus, quam nisl ultrices augue, id molestie metus ex eget velit. Etiam lectus arcu, dapibus vitae ullamcorper eu, varius nec massa. Praesent consectetur interdum tortor vitae lacinia. Proin sagittis vel elit sit amet lacinia. Nullam bibendum egestas accumsan. Aenean odio sapien, hendrerit a ipsum vel, volutpat dictum lacus. In rhoncus vestibulum blandit.</a>
                        </div>
                    </div>
					<div class="col">
                        <img src="/static/images/Shilpa.png" alt="Shilpa" style="width:100%">
                        <div>
                            <h4><b>Shilpa</b></h4>
                            <p>Donec lobortis neque felis, vel dapibus nisi dictum dictum. Sed molestie interdum purus, maximus malesuada mi malesuada nec. Sed et augue id est volutpat mattis. Ut rutrum nisi quis dolor venenatis, vel dapibus ex porta. Curabitur suscipit id velit non pulvinar. Curabitur ac malesuada erat, pellentesque pretium nibh. Proin vel massa nec ante pharetra ultrices eget sed sem. Ut aliquet lorem vel dui maximus malesuada. Nullam magna lectus, varius eget imperdiet eget, faucibus vitae lorem. Nulla viverra a arcu sed porttitor. Aenean pharetra congue aliquet.</p>
                        </div>
                    </div>
					<div class="col">
                        <img src="/static/images/Maarten.png" alt="Maarten" style="width:100%">
                        <div>
                            <h4><b>Maarten</b></h4>
                            <p>Nullam commodo est leo, at maximus quam semper vel. Mauris varius tempus tortor, a pharetra diam varius vel. Duis eget lorem placerat, sodales lorem nec, tincidunt neque. Nunc varius justo in lectus lobortis, et suscipit augue auctor. Nam commodo ipsum ac viverra ultricies. Sed porta tortor vitae eros varius, at dictum felis tincidunt. Proin pharetra lorem ipsum, eget pulvinar ex sodales vel. Suspendisse purus orci, tristique tincidunt efficitur sit amet, posuere at quam. Pellentesque in posuere orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam erat volutpat.</p>
                        </div>
                    </div>
                </div>
{% endblock %}