{% extends "layout.html" %}

{% block title %}
    Game over
{% endblock %}

{% block main %}

    <div class="container_end">
      <div id="end" class="flex-center flex-column">
        <h1>Your score is</h1><h1 id="finalScore"></h1>
        <h1 id="username"></h1>
        <h1 id="category"></h1>
          <!--
          <table>
              <tr>
                  {% for cell in tabel %}
                  <th>{{cell}}</th>
                  {% endfor %}
              </tr>
              {% for score in scores %}
                  <tr>
                      <td>{{score["positie"]}}</td>
                      <td>{{score["naam"]}}</td>
                      <td>{{score["vragen"]}}</td>
                      <td>{{score["tijd"]}}</td>
                  </tr>
              {% endfor %}
          </table>
          -->
        <a class="btn_quiz" href="/quiz">Play Again</a>
        <a class="btn_quiz" href="/">Go Home</a>
      </div>
    </div>



{% endblock %}
