{% extends "layout.html" %}

{% block title %}
    Game over
{% endblock %}

{% block main %}

    <div class="container_end">
      <div id="end" class="flex-center flex-column">
        <h1 id="finalScore"></h1>
        <form>
          <input type="text"
            name="username"
            id="username"
            placeholder="username"
          />
          <button type="submit"
            class="btn_quiz"
            id="saveScoreBtn"
            onclick="saveHighScore(event)"
            disabled
          >
            Save
          </button>
        </form>
        <a class="btn_quiz" href="/game.html">Play Again</a>
        <a class="btn_quiz" href="/">Go Home</a>
      </div>
    </div>
    <script src= "../static/game_over.js"></script>

{% endblock %}
