{% extends "layout.html" %}

{% block title %}
    Game over
{% endblock %}

{% block main %}

  <div class="container_end">
    <div id="end" class="flex-center flex-column">

      <!--Game statistics after playing-->
      <h1 class="stats-main-text">Score</h1>
      <h1 id="finalScore"></h1>
      <!--Hidden form to send variables to play again quiz-->
      <form action="/quiz" method="post" id="form">
        <input type="hidden" name="category" value="" size ="40" />
        <input type="hidden" name="username" value="" size ="40" />
          <button class="btn_quiz" type="submit">Play again</button>
      </form>
      <a class="btn_quiz" href="/">Go Home</a>
    </div>
  </div>


<script>
  document.getElementById("form").addEventListener("submit", send_form);

  function send_form(){
    var form = document.forms['form'];
    var category = localStorage.getItem('category');
    var username = localStorage.getItem('username');
    form.username.value = username;
    form.category.value = category;
    }

  var finalScore = localStorage.getItem('mostRecentScore');
  document.getElementById("finalScore").innerHTML = finalScore;

</script>




{% endblock %}
