{% extends "layout.html" %}

{% block title %}
    Categorieën
{% endblock %}

{% block main %}

     <div class="row">
                    <div class="card">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/61apfSLOGwL.png" alt="Categorie 1" style="width:100%" class= img>
                        <div class="container">
                            <h4><b>General Knowledge</b></h4>
                        </div>
                    </div>
					<div class="card">
                        <img src="https://img.pngio.com/the-best-natural-beauty-products-active-ingredients-skin-care-nature-beauty-png-660_580.png" alt="Categorie 1" style="width:100%"  class= img>
                        <div class="container">
                            <h4><b>Science & Nature</b></h4>
                        </div>
                    </div>
					<div class="card">
                        <img src="https://cdn.imgbin.com/5/14/24/imgbin-technology-computer-science-engineering-communication-assorted-devices-illustration-BdftcuHBugRRsJs7gTKmCV5Y3.jpg" alt="Categorie 1" style="width: 100%" class= img>
                        <div class="container">
                            <h4><b>Science: Computers</b></h4>
                        </div>
                    </div>
					<div class="card">
                        <img src="http://www.paraplu7.nl/School/images/kanon.png" alt="Categorie 1" style="width:100%" class= img>
                        <div class="container">
                            <h4><b>History</b></h4>
                        </div>
                    </div>
					<div class="card">
                        <img src="https://www.pngitem.com/pimgs/m/347-3478113_geography-png-free-download-world-clip-art-transparent.png" alt="Categorie 1" style="width:100%" class= img>
                        <div class="container">
                            <h4><b>Geography</b></h4>
                        </div>
                    </div>
					<div class="card">
                        <img src="http://icons.iconarchive.com/icons/google/noto-emoji-objects/1024/62843-film-projector-icon.png" alt="Categorie 1" style="width:100%" class= img>
                        <div class="container">
                            <h4><b>Film</b></h4>
                        </div>
                    </div>
					<div class="card">
                        <img src="https://www.kindpng.com/picc/m/15-154569_music-note-symbol-clipart-musical-note-clef-symbols.png" alt="Categorie 1" style="width:100%" class= img>
                        <div class="container">
                            <h4><b>Music</b></h4>
                        </div>
                    </div>
					<div class="card">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/51h0hLOkbmL._SX425_.jpg" alt="Categorie 1" style="width:100%" class= img>
                        <div class="container">
                            <h4><b>Video games</b></h4>
                        </div>
                    </div>

{% endblock %}
