{% extends "layout.html" %}

{% block title %}
    Categorieën
{% endblock %}

{% block main %}

     <div class="row">
                    <div class="card">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Categorie 1" style="width:100%" >
                        <div class="container">
                            <h4><b>General Knowledge</b></h4>
                        </div>
                    </div>
					<div class="card">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Categorie 1" style="width:100%" >
                        <div class="container">
                            <h4><b>Science & Nature</b></h4>
                        </div>
                    </div>
					<div class="card">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Categorie 1" style="width:100%" >
                        <div class="container">
                            <h4><b>Science: Computers</b></h4>
                        </div>
                    </div>
					<div class="card">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Categorie 1" style="width:100%" >
                        <div class="container">
                            <h4><b>History</b></h4>
                        </div>
                    </div>
					<div class="card">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Categorie 1" style="width:100%" >
                        <div class="container">
                            <h4><b>Geography</b></h4>
                        </div>
                    </div>
					<div class="card">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Categorie 1" style="width:100%" >
                        <div class="container">
                            <h4><b>Entertainment: Film</b></h4>
                        </div>
                    </div>
					<div class="card">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Categorie 1" style="width:100%" >
                        <div class="container">
                            <h4><b>Entertainment: Music</b></h4>
                        </div>
                    </div>
					<div class="card">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Categorie 1" style="width:100%" >
                        <div class="container">
                            <h4><b>Entertainment: Video games</b></h4>
                        </div>
                    </div>

{% endblock %}
