{% extends "layout.html" %}

{% block title %}
    Leaderboard
{% endblock %}

{% block main %}

<br>

    <form action="/leaderboards" method="post" id="form">
        <center>
        <div class="input-group">
            <select id="inputGroupSelect04", name = "categorie">
                <option value="0">Select category</option>
                <option value="9">General Knowledge</option>
                <option value="17">Science & Nature</option>
                <option value="18">Science: Computers</option>
                <option value="23">History</option>
                <option value="22">Geography</option>
                <option value="11">Entertainment: Film</option>
                <option value="12">Entertainment: Music</option>
                <option value="15">Entertainment: Video games</option>
            </select>
            <select id="inputGroupSelect03", name = "hoeveelheid" style="width:60px">
                <option>10</option>
                <option>20</option>
                <option>50</option>
            </select>
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Show</button>
            </div>
        </div>
        </center>
    </form>
<br>
<center>
    <table>
        <tr>
            {% for cell in tabel %}
            <th>{{cell}}</th>
            {% endfor %}
        </tr>
        {% for score in scores %}
            <tr>
                <td>{{score["positie"]}}</td>
                <td>{{score["naam"]}}</td>
                <td>{{score["vragen"]}}</td>
                <td>{{score["tijd"]}}</td>
            </tr>
        {% endfor %}
    </table>
    </center>
<br>
<br>

<script>

document.getElementById("form").addEventListener("submit", validate);

        function validate(e) {

            //get username from form
            var option = document.getElementById("inputGroupSelect04").value;

            //stop form from being submitted
            e.preventDefault();

            if(option === "0") {
                alert("You haven't selected anything!");
            }
            else{
                document.getElementById("form").submit();
            }

        }

</script>
{% endblock %}