{% extends "layout.html" %}

{% block title %}
    Quiz
{% endblock %}

{% block main %}
<!--Quiz block-->
<div class="container_quiz">
	<div id="game" class= "justify-center flex-column">
	<p class="stats-main-text" id="category_name">{{ category_name }}</p>
		<div id="statistics">

			<!--Game score-->
			<div id="stats_item">
				<p class= "stats-prefix"> <strong> Score </strong></p>
				<h1 class= "stats-main-text" id= "score">0</h1>
			</div>

			<!--Countdown timer-->
			<div id="countdown_timer">
				<p class= "stats-prefix"> <strong> Timer </strong></p>
				<h1 class= "stats-main-text" id="countdown">0</h1>
			</div>

			<!--Total time played-->
			<div id="total_time">
				<p class= "stats-prefix"><strong>Tijd</strong></p>
				<h1 class= "stats-main-text" id="timer">00:00</h1>
			</div>
		</div>

		<!--Question box-->
		<h2 id= "question"></h2>

			<!--Answer choices-->
			<div class= "choice-container" data-number= "1">
				<p class= "choice-prefix" data-number= "1"> A </p>
				<p class= "choice-text" data-number= "1" id="1"></p>
			</div>

			<div class= "choice-container" data-number= "2">
				<p class= "choice-prefix" data-number= "2"> B </p>
				<p class= "choice-text" data-number= "2" id="2"></p>
			</div>

			<div class= "choice-container" data-number= "3">
				<p class= "choice-prefix" data-number= "3"> C </p>
				<p class= "choice-text" data-number= "3" id="3"></p>
			</div>

			<div class= "choice-container" data-number= "4">
				<p class= "choice-prefix" data-number= "4"> D </p>
				<p class= "choice-text" data-number= "4" id="4"></p>
			</div>
	</div>
</div>

<!--Global variables for quizpage-->
<script type="text/javascript">
	category = "{{category}}";
    username = "{{username}}";
    localStorage.setItem("username", username);
    localStorage.setItem("category", category);

    // $.get('/name?category=' + category, function(data){
    // document.getElementById("category_name").innerHTML= data
    // });
</script>
<script src= "../static/quiz.js"></script>

{% endblock %}